@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');
/* Desktop*/
:root{
    --fontColour: #f9fef1;
}
/*Home*/
h1{
    font-family: Roboto;
    text-align: center;
    font-size: 9em;
    color:var(--fontColour) ;
    padding-top: 2cm;
}
h2{
    font-family: "Kaisei Tokumin";
    text-align: center;
    font-size: large;
    color:var(--fontColour);
}
body{   
    background-color:#2d056f ;
   
}
img{
    width: 20vi;
}
nav a {
    display: inline;
    text-decoration: none;
    color:var(--fontColour) ;
    font-family: "Kaisei Tokumin";
    font-size: 2vi;
}
footer nav {
    display: flex;
    justify-content: space-evenly;
    padding-top: 4vi;
    color:var(--fontColour) ;
}
footer nav a {
    text-decoration: none;
    color:var(--fontColour) ;
    font-family: "Kaisei Tokumin";
    color:var(--fontColour) ;
}
table{
    width: 70%;
    margin: auto;
}
section p {
    font-family: "Kaisei Tokumin";
    color:var(--fontColour);
}
article{
    justify-content: space-evenly;
    color: var(--fontColour);
    font-family: "Kaisei Tokumin";
    text-align: center;
}
/*Home*/

/*Story*/
.story{
    background-color:  #088395;
    color: black;
}
nav.cc a {
    color: black;
}
.articles{
    display: flex;
    justify-content: space-evenly;
    font-size: 1vi;
    padding-top: 3vi;
    gap: 3vi;
    word-spacing: 0.3vi;
    color: black;
}
/*Story*/

/*Stock*/
body.stock{
    background-color: #35A29F;
    color: black;
}
div.art{
    padding-top: 2vi;
    border: 0.1vi solid #f9fef1;
    margin-top: 2vi;
}
span.clothes {
    display: flex;
    justify-content: space-evenly;
}
span.textH{
    font-family: "Kaisei Tokumin";
    display: flex;
    color:black ;
    justify-content: space-evenly;
    font-size: 1.2vi;
}
/*Stock*/

/*Stores*/

header {
    font-family: "Kaisei Tokumin";
    color: var(--fontColour);
    font-size: 8vi;
    text-align: center;
    border: 1px solid var(--fontColour);
    border-radius: 1vi;
    padding-top: 2vi;
}
section.stores p {
    font-family: "Kaisei Tokumin";
    color: var(--fontColour);
    font-size: 1.5vi;
    border: 1px solid var(--fontColour);
    
}
section.stores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
/* Mobile*/
@media screen and (max-width: 768px) {
    /*Home*/
        h1 {
        font-family: Roboto;
        text-align: center;
        font-size: 16vi;
        color:#f9fef1 ;
        }
        h2 {
            color:#f9fef1 ;
        }
        h3{
            color:#f9fef1 ;
        }
        body {
            background-color:#2d056f ;
            background-image: none;
            
        }
        nav a {
            text-decoration: none;
            color:#f9fef1 ;
            font-family: "Kaisei Tokumin";
            font-size: 5vi;
        }
        footer nav a {
            text-decoration: none;
            color:#f9fef1 ;
            font-family: "Kaisei Tokumin";
            display: flex;
            justify-content: space-evenly;
        }
        table{
            overflow-x: auto;
            font-size: 2.2vi;
        }
        article{
            display: flex;
            justify-content: space-evenly;
            color: var(--fontColour);
            font-family: "Kaisei Tokumin";
            flex-wrap: wrap;
            margin: auto;
        }
        h1.textH{
            font-family: Roboto;
            text-align: center;
            font-size: 3vi;
            color:#f9fef1 ;
        }
        /*Home*/
}
